.gitbook-link {
    display: none !important;
}

.page-inner {   
  max-width: 1000px;    
  padding: 2px 2px 2px 2px;
}
.markdown-section hr {
    height: 1px;
}
.markdown-section pre {
    overflow: auto;
    word-wrap: normal;
    margin: 0;
    padding: .85em 1em;
    margin-bottom: 1.275em;
    background: #ddd;
}
#QR {
    padding-top: 0px;
}
#rewardButton span {
    width: 180px;
}
.gitbook-donate {
    margin: 20px auto 50px;
}